* {
  list-style: none;
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  form {
    text-align: center;
    input {
      width: 300px;
      height: 100px;
      font-size: 3rem;
    }
  }
  div {
    width: 100%;
    > table {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      > thead {
        text-align: center;
        > tr {
          > td {
            width: 30%;
          }
        }
      }
      > tbody {
        text-align: center;
        > tr {
          > td {
            text-align: center;
            &:nth-of-type(2) {
              p {
                text-align: left;
              }
            }
            > p {
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}